cachecluster/src/main/app/101_mock_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="101_mock_apiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/{apiName}/mock" doc:name="HTTP"/>
        <set-payload value="#['&lt;S:Envelope xmlns:S=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot;&gt;
   &lt;S:Body&gt;
      &lt;ns2:WSDCUGETACCTSResponse xmlns:ns2=&quot;T24WebServicesImpl&quot;&gt;
         &lt;Status&gt;
            &lt;successIndicator&gt;Success&lt;/successIndicator&gt;
         &lt;/Status&gt;
         &lt;CCSDCUGETACCTSType&gt;
            &lt;gCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;D&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619283532&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;6970&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Membership Paulo Shares&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00100&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;My account 2&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;11918027&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS/&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;11&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;5&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;5&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;A&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;A&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;A&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;A&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619283524&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;1230&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;One Small Fee - Business&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00100&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;My account 2&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;-1763840.13&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;176159.87&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;A&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;A&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619284951&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;1161&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619284951&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;USD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00500&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619284951&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;109677.36&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;109677.36&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;A&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;A&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;A&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;A&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619284985&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;6037&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619284985&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00200&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619284985&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;779468.27&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;779468.27&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619296591&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;536&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619296591&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00900&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619296591&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619297094&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619297094&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00902&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619297094&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;33023.37&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;33023.37&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619298514&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619298514&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00903&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619298514&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;30517.04&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;30517.04&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619298589&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619298589&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00904&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619298589&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619298613&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619298613&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00905&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619298613&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619299645&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619299645&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00906&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619299645&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10100619300096&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110100619300096&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00907&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210100619300096&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110000352856&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110110000352856&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00101&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210110000352856&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110000354506&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110110000354506&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00102&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210110000354506&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110000357996&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110110000357996&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00103&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210110000357996&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110001615590&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;535&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110110001615590&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00106&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210110001615590&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;111234.44&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;111234.44&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110003254323&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010020&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;536&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Title-110110003254323&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00105&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;Title-210110003254323&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;0&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;0&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110013344579&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010140&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;610801&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Short.name Limited&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00108&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;test8&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;5000000000000.99&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;5000000000000.99&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110013344611&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010140&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;610801&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Short.name Limited&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00112&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;test8&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;5000000000000.99&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;5000000000000.99&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110013344678&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010140&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;610801&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Short.name Limited&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00118&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;test8&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;500.99&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;500.99&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
               &lt;mCCSDCUGETACCTSDetailType&gt;
                  &lt;BPFLAG&gt;D&lt;/BPFLAG&gt;
                  &lt;MSFLAG&gt;A&lt;/MSFLAG&gt;
                  &lt;TIFLAG&gt;D&lt;/TIFLAG&gt;
                  &lt;TOFLAG&gt;D&lt;/TOFLAG&gt;
                  &lt;BIFLAG&gt;A&lt;/BIFLAG&gt;
                  &lt;DPFLAG&gt;D&lt;/DPFLAG&gt;
                  &lt;IMTFLAG&gt;A&lt;/IMTFLAG&gt;
                  &lt;ACCOUNTNO&gt;10110013344769&lt;/ACCOUNTNO&gt;
                  &lt;COMPANYCODE&gt;CA0010140&lt;/COMPANYCODE&gt;
                  &lt;ACCOUNTPLAN/&gt;
                  &lt;PLANID/&gt;
                  &lt;ACCOUNTTYPE&gt;610801&lt;/ACCOUNTTYPE&gt;
                  &lt;ACCOUNTTITLE&gt;Short.name Limited&lt;/ACCOUNTTITLE&gt;
                  &lt;CURRENCY&gt;CAD&lt;/CURRENCY&gt;
                  &lt;INSTITUTIONNO&gt;809&lt;/INSTITUTIONNO&gt;
                  &lt;IVRNUMBER&gt;00127&lt;/IVRNUMBER&gt;
                  &lt;NICKNAME&gt;test8&lt;/NICKNAME&gt;
                  &lt;TRANSITNO&gt;17110&lt;/TRANSITNO&gt;
                  &lt;MEMBERSHIPNO&gt;7059121&lt;/MEMBERSHIPNO&gt;
                  &lt;COMPANYBOOK&gt;CA0010140&lt;/COMPANYBOOK&gt;
                  &lt;NOOFSIGNERS&gt;2&lt;/NOOFSIGNERS&gt;
                  &lt;ISPRINCIPALMEMBERSHIP&gt;7059121&lt;/ISPRINCIPALMEMBERSHIP&gt;
                  &lt;MEMBERSHIPTYPE&gt;50&lt;/MEMBERSHIPTYPE&gt;
                  &lt;CURRENTBALANCE&gt;500.99&lt;/CURRENTBALANCE&gt;
                  &lt;AVAILBAL&gt;500.99&lt;/AVAILBAL&gt;
                  &lt;CHQORDERELIG&gt;N&lt;/CHQORDERELIG&gt;
               &lt;/mCCSDCUGETACCTSDetailType&gt;
            &lt;/gCCSDCUGETACCTSDetailType&gt;
         &lt;/CCSDCUGETACCTSType&gt;
      &lt;/ns2:WSDCUGETACCTSResponse&gt;
   &lt;/S:Body&gt;
&lt;/S:Envelope&gt;']" doc:name="Set Payload"/>
    </flow>
</mule>
